
<div>
    <h3>Sistema Escola</h3>
    <nav>
        <div>
            <h3>Bem Vindo</h3>
            <nav>
                <a href="/aluno/cadastrar">CADASTRAR ALUNO</a>
                <a href="/aluno/listar"><i></i>LISTAR</a>
            </nav>
        </div>
    </nav>
</div>